{% extends 'layout.html' %} {% block title %} Contact {% endblock %} {% block content %}

<main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center px-3 text-center">
  <h1 class="mb-5">
    <strong>Hire me!</strong>
  </h1>
  <h3 class="mb-3">
    GitHub:
    <a href="https://github.com/oluizfernando" target="_blank">OLuizFernando</a>
  </h3>
  <h3 class="mb-3">
    LinkedIn:
    <a href="https://www.linkedin.com/in/oluizfernando" target="_blank">OLuizFernando</a>
  </h3>
  <h3 class="mb-3">
    Phone number: <br class="d-block d-sm-none" />
    <a href="https://wa.me/5511980991245" target="_blank">+55 11 9 8099-1245</a>
  </h3>
  <h3>
    E-mail:
    <a class="text-break" href="mailto:luizfernandodematoscarvalho@gmail.com" target="_blank">luizfernandodematoscarvalho@gmail.com</a>
  </h3>
</main>

{% endblock %}
